<div class="container-flud featured-article">
  <div class="container">
    <h5>Featured Article</h5>
    <h2 class="post-title">Lorem ipsum is placeholder text commonly </h2>
    <p class="post-desc">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    <div class="text-right">
      <a href="#" class="btn btn-primary">Read more >></a>
    </div>
  </div>
</div>