<div class="header-hero front-page-hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <img src="img/headshot-zoom.jpg" class="circled" alt="Walace Silva" width="140px" />
      </div>
      <div class="col-lg-6">
        <h1>Olá, Sou o Walace!</h1>
        <p>I’m a freelance senior software engineer, specialized in full-stack web development using Ruby on Rails.</p>
        <a href="#" class="btn btn-primary">Let's see what I can do for you >></a>
      </div>
    </div>
  </div>
</div>