<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Walace Silva</title>

    <link rel="shortcut icon" type="image/x-icon" href="src/img/favicon.ico">
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>

    <!-- Header container -->
    <%- include('header'); %>

    <!-- Main container -->
    <%- include('front-page'); -%>
    
    <!-- Footer container -->
    <%- include('footer'); -%>

    <!-- <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <script type="text/javascript" src="js/app.min.js"></script>
  </body>
</html>