<div class="container-flud narrow">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center mr-4">
        <img src="img/headshot-zoom.jpg" class="circled" alt="Walace Silva" width="120px" />
      </div>
      <div class="col-lg-5">
        <h5>Walace Silva</h5>
        <p class="mb-5">
          <i>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</i>
        </p>
        <h5>Walace Silva</h5>
        <p>Lorem ipsum is <a href="">placeholder</a> or <a href="">commonly</a></p>
      </div>
    </div>
  </div>
</div>