#header {
  a.navbar-brand, 
  a.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  a.nav-link {
    font-size: 1em;
  }

  a.nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}